@charset "utf-8";
/* CSS Document */
.con_table{
	width: 100%;
	font-family: verdana,arial,sans-serif;  
    font-size:11px;  
    color:#333333;  
    border-width: 1px;  
    border-color: #999999;  
    border-collapse: collapse;  
}
.con_table tr{
	background-color:#d4e3e5;  
}
.con_table th{
	background-color:#c3dde0;  
    border-width: 1px;  
    padding: 8px;  
    border-style: solid;  
    border-color: #a9c6c9;  
}
.con_table td{
	border-width: 1px;  
    padding: 8px;  
    border-style: solid;  
    border-color: #a9c6c9;  
}
.table-hover{
	background-color:#29B7AC;
}