html{    
    width: 100%;    
    height: 100%;    
    overflow: hidden;    
    font-style: sans-serif;    
}    
body{    
   
	margin:0;
	font-family:'微软雅黑','Times New Roman', Times, serif;
	 
}
.body{
	 overflow-y:scroll;
	width:100%;
	 height: 100%; 
}
#login{    
    margin: 180px 0 0 100px;    
    width: 300px;    
    height: 300px;   
	float:right;
	margin-right:40%; 
}    
#login h1{    
    color: #fff;    
    text-shadow:0 0 10px;    
    letter-spacing: 1px;    
    text-align: center;  
	font-size: 2em;    
    margin: 0.67em 0;   
}    
.button1{
	display: block;
	background: #8BA7F3;
	width: 100px;
	height: 40px;
	border:1px solid #8BA7F3;
	border-radius: 4px; 
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 20px;
    text-decoration: none;
    color: #fff;
}
.button1:hover{
	background: #3498db;
}
input{    
    width: 278px;    
    height: 18px;    
    margin-bottom: 10px;margin-left:     50px;
    outline: none;    
    padding: 10px;    
    font-size: 13px;    
    color: #000000;   
    border-top: 1px solid #312E3D;    
    border-left: 1px solid #312E3D;    
    border-right: 1px solid #312E3D;    
    border-bottom: 1px solid #56536A;    
    border-radius: 4px;    
    background-color: #F3F3F3;    
}    
.but{    
    width: 300px;    
    min-height: 20px;    
    display: block;    
    background-color: #4a77d4;    
    border: 1px solid #3762bc;    
    color: #fff;    
    padding: 9px 14px;    
    font-size: 15px;    
    line-height: normal;    
    border-radius: 5px;    
    margin: 0;    
}   
.navi_head{
	height:50px;
	background-color:#459df5;
}
.navi_body{
	overflow:hidden;
	height:50px;
	background:rgba(36,97,158,0.9);
	transition:height ease 0.5s;
}
.navi_body:hover{
	height:200px;
}

.navi_head>div>span{
	width:150px;
	text-align:center;
	height:200px;
	display:inline-block;
	font-weight:bold;
	color:#FFF;
	font-size:14px;
	vertical-align:top;
}

.navi_head>div>span>p a{
	color:#FFF;
	text-decoration:none;
}
.navi_head>div>span>p a:hover{
	color:#FFF;
	text-decoration:underline;
}

.navi_title{
	font-size:16px;
	line-height:50px;
	margin-top:0;
}

.navi_head>div>span:hover{
	background:rgba(100,100,100,0.2);
}
.con{
	margin: 0 auto;
	width: 60%;
	height: auto;	
}
.con .con_left{
	box-shadow: 3px 3px 8px #000000;
	margin: 50px;
	border: 1px solid #ADADAD;
	border-radius:5px; 
}
.user p{
	margin-left: 30px;
}

